<% content_for :meta_title, "#{@club.name} - Golfsnack.se" %>
<div>
  <div class="mt-6 block w-full bg-wetsand-100 relative" style="height: 420px;">
    <% if current_user.has_role?(:moderator, @club) %>
      <%= link_to club_cover_path(@club), class: "flex gap-2 text-sm bg-white rounded px-4 py-2 absolute bottom-4 right-2 bg-opacity-50 hover:bg-opacity-100 transition duration-150 ease-in-out hover:no-underline" do %>

        <svg class="mx-auto h-5 w-5 text-goflsnack-400" stroke="currentColor" fill="none" viewBox="0 0 48 48">
          <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span>Ändra omslagsbild</span>
      <% end %>
    <% end %>
    <% if @club.cover.attached? %>
      <%= image_tag @club.cover, class: "object-cover w-full h-full" %>
    <% end %>
  </div>
  <div class="flex flex-col items-center justify-center w-full -mt-32">
    <div class="relative">
      <% if @club.logo.attached? %>
        <%= image_tag @club.logo, class: 'big-avatar' %>
      <% else %>
      <div class="h-40 w-20 bg-white big-avatar"></div>
      <% end %>
      <% if current_user.has_role?(:moderator, @club) %>
        <%= link_to club_logo_path(@club), class: "flex gap-2 text-sm bg-white rounded p-2 absolute top-2 right-2 bg-opacity-50 hover:bg-opacity-100 transition duration-150 ease-in-out" do %>
          <svg class="mx-auto h-5 w-5 text-goflsnack-400" stroke="currentColor" fill="none" viewBox="0 0 48 48">
            <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        <% end %>
      <% end %>
    </div>
    <h2 class="mt-4 uppercase text-golfsnack-500"><%= @club.name %></h2>
    <p class="text-sm mt-2 text-golfsnack-500"><%= @club.description %></p>
    <div class="flex flex-col items-center justify-between w-full p-4 my-12 text-white uppercase bg-wetsand-600 md:flex-row">
      <div>
        <span class="px-2 flex items-center">
          <strong><%= render "shared/avatar_group", users: @club_users, extra: @extra_users_count %></strong>
          <small class="mr-2"><%= pluralize(@club_users.size, "medlem", locale: :sv) %></small>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="gap-6 sm:grid sm:grid-cols-6">
    <div class="sm:col-span-4">
      <% @club.courses.each do |course| %>
        <div class="bg-white mb-6 p-4 rounded border border-color-wetsand-400">
          <h5><%= course.name %></h5>
          <%= course.description %>
          <dl class="grid grid-cols-2">
            <dt class="p-4 border-b">Arkitekt</dt>
            <dd class="p-4 border-b"><%= course.architect %></dd>
            <dt class="p-4 border-b">Antal hål</dt>
            <dd class="p-4 border-b"><%= course.holes_count %></dd>
            <dt class="p-4 border-b">Par</dt>
            <dd class="p-4 border-b"><%= course.par %></dd>
            <dt class="p-4 border-b">Byggår</dt>
            <dd class="p-4 border-b"><%= course.build_year %></dd>
            <dt class="p-4 border-b">Bantyp</dt>
            <dd class="p-4 border-b"><%= course.kind %></dd>
            <dt class="p-4 border-b">Greenfee</dt>
            <dd class="p-4 border-b"><%= course.greenfee_cost %></dd>
          </dl>
        </div>
      <% end %>
    </div>
    <div class="sm:col-span-2">
      <% if !current_user.rounds.map(&:club_id).include?(@club.id) %>
        <%= button_to rounds_path(club_id: @club.id, user_id: current_user.id), method: :post, class: 'mb-6 block w-full' do %>
          JAG HAR SPELAT PÅ DENNA KLUBB
        <% end %>
      <% end%>

      <%= render partial: 'rating' %>

      <div class="my-6">
        <h4>Senaste golfsnacksmedlemmar som har spelat här</h4>
        <%= render "shared/avatar_group", users: @players, extra: false %>
      </div>

      <% if current_user.has_role?(:moderator, @club) %>
        <a href="/klubbadmin/<%=@club.id%>" type="button" class="flex gap-2 mb-2 text-sm bg-golfsnack-100 rounded px-4 py-2 bg-opacity-50 hover:bg-opacity-100 transition duration-150 ease-in-out text-golfsnack-600">
          <!-- Heroicon name: pencil -->
          <svg class="w-5 h-5 mr-2 -ml-1 text-golfsnack-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
          </svg>
          Redigera Golfklubb
        </a>
      <% end %>
    </div>
</div>
