<div class="mt-12">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h4 class="mb-6 text-2xl font-bold">Redigera information</h4>
        </div>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, class: "" %>
              </div>
              <div class="col-span-6 sm:col-span-3">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, class: "" %>
              </div>
              <div class="col-span-6 sm:col-span-3">
                <%= f.label :email %>
                <%= f.email_field :email, autocomplete: "email", class: "" %>
              </div>
              <div class="col-span-6 sm:col-span-3">
                <%= f.label :golf_id %>
                <%= f.text_field :golf_id, class: "" %>
                <span class="hint text-sm text-golfsnack-400">Lämna tomt om du inte vill visa ditt Golf-ID</span>
              </div>
              <div class="block mt-4 col-span-6" data-controller="autocomplete">
                <%= f.label "Hemmaklubb" %>
                <%= f.collection_select :club_id, Club.order(:name).all, :id, :name, {include_blank: true}, { class: "form-input", "data-autocomplete-target": "field" } %>
              </div>
            </div>
            <div class="my-6">
              <%= f.label :info, "Om dig" %>
              <div class="rounded-md shadow-sm">
                <%= f.text_area :info, rows: 5, class: "form-textarea mt-1 block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
              </div>
              <p class="mt-2 text-sm text-gray-500">
                Kort beskrivning om vem du är
              </p>
            </div>
          </div>
          <div class="actions">
            <%= f.submit "Uppdatera" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
