<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="flex flex-col items-center justify-center px-4 py-12 mt-12 sm:px-6 lg:px-8">
    <div>
      <h2 class="mb-6 text-3xl font-extrabold leading-9 text-center text-white">
        Registrera konto
      </h2>
    </div>
    <div class="block mt-4">
      <%= f.label :email, class: "text-white" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
    </div>
    <div class="block mt-4">
      <%= f.label :first_name, class: "text-white" %><br />
      <%= f.text_field :first_name, autocomplete: "first name", class: "form-input" %>
    </div>
    <div class="block mt-4">
      <%= f.label :last_name, class: "text-white" %><br />
      <%= f.text_field :last_name, autocomplete: "last name", class: "form-input" %>
    </div>
    <div class="block mt-4">
      <%= f.label :invite_code, class: "text-white" %><br />
      <%= f.text_field :invite_code, autocomplete: "invite code", class: "form-input" %>
    </div>
    <div class="block mt-4">
      <%= f.label :golf_id, class: "text-white" %><br />
      <%= f.text_field :golf_id, autocomplete: "golf-id", class: "form-input" %>
    </div>
    <div class="block mt-4">
      <%= f.label :password, class: "text-white" %>
      <% if @minimum_password_length %>
        <em>(Minst <%= @minimum_password_length %> tecken)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-input" %>
    </div>
    <div class="block mt-4">
      <%= f.label :password_confirmation, class: "text-white" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input" %>
    </div>
    <div class="mt-6 actions">
      <%= f.submit "Skapa konto", class: "relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium text-white bg-golfsnack-600 hover:bg-golfsnack-500 focus:outline-none focus:border-golfsnack-700 focus:shadow-outline-golfsnack active:bg-golfsnack-700 transition duration-150 ease-in-out" %>
    </div>
  </div>
<% end %>
