<% if comment.user %>
  <div class="flex px-4 py-2 border-b border-golfsnack-100" id="comment_<%=comment.id%>">
    <div class="mt-1 mr-2">
      <% if comment.user.avatar.attached? %>
        <%= image_tag comment.user.avatar, class: 'mini-avatar' %>
      <% else %>
        <%= image_tag "fallback/avatar-thumb-default.png", class: 'mini-avatar' %>
      <% end %>
    </div>
    <div class="flex flex-col text-xs">
      <%= link_to comment.user.name, user_path(comment.user), "data-turbo-frame": "_top" %>
      <%= comment.comment.html_safe %>
      <% if belongs_to_user?(comment) %>
        <%= link_to "Radera", comment_path(comment), method: :delete, class: 'text-red-500 mt-2', data: { confirm: "Säker?" } %>
      <% end %>
    </div>
  </div>
<% end %>
