<div class="flex flex-col items-center justify-center px-4 py-12 mt-12 bg-gray-50 sm:px-6 lg:px-8 text-sand-200">
  <%- if controller_name != 'sessions' %>
    <%= link_to "Logga in", new_session_path(resource_name), class: "text-sm leading-5 font-medium text-teal-600 hover:text-teal-500 focus:outline-none focus:underline transition ease-in-out duration-150 m-3" %>
  <% end %>
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Registrera", new_registration_path(resource_name), class: "text-sm leading-5 font-medium text-teal-600 hover:text-teal-500 focus:outline-none focus:underline transition ease-in-out duration-150 m-3" %>
  <% end %>
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Glömt lösenord?", new_password_path(resource_name), class: "text-sm leading-5 font-medium text-teal-600 hover:text-teal-500 focus:outline-none focus:underline transition ease-in-out duration-150 m-3" %>
  <% end %>
  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "Har du inte fått bekräftelseanvisningar?", new_confirmation_path(resource_name), class: "text-sm leading-5 font-medium text-teal-600 hover:text-teal-500 focus:outline-none focus:underline transition ease-in-out duration-150 m-3" %>
  <% end %>
  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: "text-sm leading-5 font-medium text-teal-600 hover:text-teal-500 focus:outline-none focus:underline transition ease-in-out duration-150 m-3" %>
  <% end %>
  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Logga in med #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "text-sm leading-5 font-medium text-teal-600 hover:text-teal-500 focus:outline-none focus:underline transition ease-in-out duration-150 m-3" %>
    <% end %>
  <% end %>
</div>
