<ul>
  <% @article.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<%= form_for [:admin, @article], html: { multipart: true } do |f| %>
  <label>Rubrik</label>
  <%= f.text_field :title %>
  <label>Underrubrik</label>
  <%= f.text_field :subitle %>
  <div class="my-12">
    <%= image_tag @article.image.variant(resize_to_fill: [640, 480], gravity: 'center') if @article.image.attached? %>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <label>Inledning</label>
  <div class="mb-12">
    <%= f.text_area :preamble, rows: 7, class: "w-full" %>
  </div>
  <label>Innehåll</label>
  <div class="mb-12 control">
    <%= f.rich_text_area :body, rows: 20 %>
  </div>
  <div class="actions mt-12">
    <%= f.submit 'Spara artikel' %>
  </div>
<% end %>
