<div class="flex pb-12">
  <h2>Artiklar</h2>
  <%= link_to "Ny artikel", new_admin_article_path, class: "flex-0 ml-auto px-4 py-2 text-sm font-medium leading-5 text-sand-700 transition duration-150 ease-in-out bg-white border border-sand-300 hover:text-sand-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-sand-800 active:bg-sand-50"%>
</div>
<table class="w-full divide-y divide-sand-200">
  <thead>
    <tr>
      <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left uppercase text-sand-500 bg-sand-50">
        Titel
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-sand-200 text-xs">
    <% @articles.each do |article| %>
      <tr>
        <td class="px-6 py-4 whitespace-no-wrap">
          <%= article.title %>
        </td>
        <td>
          <%= article.category ? article.category.name : "Ingen kategori" %>
        </td>
        <td class="px-6 py-4 whitespace-no-wrap">
          <%= link_to "Redigera artikel", edit_admin_article_path(article) %>
          &nbsp;
          <%= link_to "Radera artikel", admin_article_path(article), method: :delete, data: { confirm: "Säker?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
