<div class="pt-12">
  <h2 class="mb-2 text-lg font-semibold text-golfsnack-900">
    Artiklar
  </h2>
</div>
<% if @latest_articles %>
  <div class="articles_grid">
    <% @latest_articles.each_with_index do |article, index| %>
      <div class="article_item article<%= index %> relative overflow-hidden p-4 cover_image" style="background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(<%= url_for article.image %>)">
        <div class="absolute bottom-0 pb-4">
          <%= link_to article.title, article_path(article), class: "block text-#{index == 0 ? '3xl' : '2xl'} font-bold text-white no-underline "%>
          <% if index == 0 %>
            <p class="pr-24 mt-3 text-base leading-6 text-white"><%= truncate(strip_tags(article.body.to_s), length: 200) %></p>
          <% end %>
          <%= link_to "Läs artikeln » (#{article.read_minutes} min)", article_path(article), class: "leading-7 text-white no-underline" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<% @articles.each do |article|%>
  <div class="flex w-full p-12 my-12 bg-white">
    <%= image_tag article.image.variant(resize_to_fill: [300, 200], gravity: 'center') if article.image.attached? %>
    <div class="ml-12">
      <h2 class="mb-2 text-xl font-extrabold leading-snug text-golfsnack-800">
        <%= link_to article.title, article, class: "text-golfsnack-900 hover:text-purple-700" %>
      </h2>
      <p class="mb-3 text-sm font-normal text-golfsnack-600">
        <%= truncate(strip_tags(article.body.to_s), length: 500) %>
      </p>
      <%= link_to "Läs vidare", article, class: "btn btn-light btn-sm" %>
    </div>
  </div>
<% end %>
<%= paginate @articles %>
