<% if @latest_articles %>
  <div class="mt-6 articles_grid">
    <% @latest_articles.each_with_index do |article, index| %>
      <div class="article_item article<%= index+1 %> relative overflow-hidden p-4 cover_image" style="background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(<%= url_for article.image %>)">
        <div class="absolute bottom-0 pb-4">
          <% if article.category %>
            <span class="small-arrow-title px-2 py-1 text-xs inline-block mb-4 -ml-4  <%= article.category.name.downcase %>"><%= article.category.name %></span>
          <% end %>
          <%= link_to article.title, article_path(article), class: "block text-#{index == 0 ? '2xl' : 'sm'} font-bold text-white no-underline "%>
          <% if index == 0 %>
            <p class="w-full mt-3 text-sm leading-6 text-white sm:w-1/2 md:w-1/3"><%= truncate(strip_tags(article.body.to_s), length: 200) %></p>
            <%= link_to "Läs artikeln » (#{article.read_minutes} min)", article_path(article), class: "leading-7 text-xs text-white no-underline" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<% if @category %>
  <h2 class="mt-12"><%= @category.name%></h2>
<% end %>
<nav class="flex w-full gap-2 py-4 text-xs mt-12">
  <a href="/artiklar" class="px-4 py-2 no-underline hover:underline bg-wetsand-200 uppercase">ALLA</a>
  <% Category.all.each do |category| %>
    <a href="?category=<%=category.name.downcase%>" class="px-4 py-2 no-underline <%= category.name.downcase %> hover:underline uppercase"><%= category.name %></a>
  <% end %>
</nav>
<% @articles.each do |article|%>
  <div class="grid gap-4 md:grid-cols-4 p-12 mb-12 bg-white">
    <div class="md:col-span-1">
      <%= link_to article do %>
        <%= image_tag article.image if article.image.attached? %>
      <% end %>
    </div>
    <div class="pb-4 md:col-span-3">
      <%= link_to article do %>
        <% if article.category %>
          <span class="px-2 py-1 text-xs inline-block mb-2 <%= article.category.name.downcase %>"><%= article.category.name %></span>
        <% end %>
        <h3 class="mb-2 leading-snug text-golfsnack-800">
          <%= article.title %>
        </h3>
      <% end %>
      <p class="mb-3 text-sm font-normal text-golfsnack-600">
        <%= truncate(strip_tags(article.preamble), length: 500) %>
      </p>
    </div>
  </div>
<% end %>
<%= paginate @articles %>
