<% content_for :meta_title, "Golfsnack: #{@article.title}" %>
<% content_for :meta_description, truncate(@article.preamble, length: 200) %>
<% if @article.image.attached? %>
  <% content_for :meta_image, url_for(@article.image) %>
<% end %>
<% content_for :meta_type, "article" %>
<% content_for :meta_url, article_url(@article) %>
<div class="my-6">
  <%= link_to "↤ Tillbaka till artiklar", articles_path %>
  <div class="fb-share-button mx-1" data-href="<%= url_for(only_path: false) %>" data-layout="button_count"></div>
</div>
<div class="p-6 my-6 bg-white text-columns">
  <%= image_tag @article.image, class: "object-cover w-full mb-6" %>
  <h1 class="mb-2 text-2xl font-extrabold leading-snug text-golfsnack-800">
    <%=@article.title%>
  </h1>
  <h2 class="mb-2 text-lg font-extrabold leading-snug text-golfsnack-400"><%=@article.subitle%></h2>
  <%= @article.preamble %>
  <%= @article.body %>
</div>
