<ul>
  <% @poll.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<%= form_for [:admin, @poll], html: { multipart: true } do |f| %>
  <div class="my-12">
    <label class="font-bold">Rubrik</label>
    <%= f.text_field :name%>
    <div class="p-12 my-12 border-t border-golfsnack-500">
      <label class="font-bold">Val</label>
      <%= f.fields_for :poll_questions do |builder| %>
        <div class="pb-4">
          <%= builder.hidden_field :id %>
          <%= builder.text_field :choice %>
          <% if builder.object.persisted? %>
            <label class="text-xs">
              <%= builder.check_box :_destroy %> Radera val (OBS, Om ngn svarat på detta val tas detta svar bort!)
            </label>
          <% end %>
        </div>
      <% end %>
    </div>
    <label class="py-4 my-8">
      <%= f.check_box :archived  %> Arkivera omröstning (Går ej att svara på mer)
    </label>
  </div>
  <div class="actions">
    <%= f.submit 'Spara omröstning' %>
  </div>
<% end %>
