<%= render partial: 'flashes'%>
<%= render "devise/shared/error_messages", resource: @user %>
<%= form_for(@user, url: wizard_path) do |f| %>
  <div class="flex flex-col items-center justify-center px-4 py-12 mt-12 sm:px-6 lg:px-8">
    <div>
      <h2 class="mb-6 text-3xl font-extrabold leading-9 text-center">
        Komplettera din profil
      </h2>
    </div>
    <div class="block mt-4">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true, autocomplete: "First Name", class: "form-input" %>
    </div>
    <div class="block mt-4">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autocomplete: "Last Name", class: "form-input" %>
    </div>
    <div class="block mt-4">
      <%= f.label :golf_id %><br />
      <%= f.text_field :golf_id, autocomplete: "Golf-ID", class: "form-input" %>
    </div>
    <div class="block mt-4">
      <%= f.label "Hemmaklubb" %><br />
      <%= f.collection_select :club_id, @clubs, :id, :name, include_blank: true, class: "form-input" %>
    </div>
    <div class="mt-6 actions">
      <%= f.submit "Skapa profil", class: "relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium text-white bg-golfsnack-600 hover:bg-golfsnack-500 focus:outline-none focus:border-golfsnack-700 focus:shadow-outline-golfsnack active:bg-golfsnack-700 transition duration-150 ease-in-out" %>
    </div>
  </div>
<% end %>
