<div class="nested-form-wrapper bg-golfsnack-100 mb-12 p-12 flex flex-col gap-4" data-new-record="<%= f.object.new_record? %>">
  <div class="grid grid-cols-6 gap-4">
    <div class="col-span-2">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="col-span-2">
      <%= f.label :architect %>
      <%= f.text_field :architect %>
    </div>
    <div>
      <%= f.label :holes_count %>
      <%= f.text_field :holes_count %>
    </div>
    <div>
      <%= f.label :par %>
      <%= f.text_field :par %>
    </div>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, class: "w-full", rows: 5 %>
  </div>
  <button type="button" data-action="nested-form#remove" class="mt-6 text-red-500">
    Markera för radering
  </button>
  <%= f.hidden_field :_destroy %>
</div>
