<div class="p-4 mt-6 border rounded bg-wetsand-400 border-wetsand-300">
  <h3 class="w-full font-bold tracking-tighter text-center text-white">GOLFSNACKS LEDARTAVLA</h2>
  <h5 class="w-full pb-4 mb-4 font-bold tracking-tighter text-center text-white">V.<%= Date.today.strftime("%U").to_i %></h5>
  <table class="w-full divide-y divide-sand-200">
    <tbody class="w-full text-xs font-bold divide-y divide-wetsand-600 text-wetsand-800">
      <% @leaderboard_users.each do |user| %>
        <tr>
          <td class="py-2 pr-2 whitespace-no-wrap border-r border-wetsand-300">
            T1
          </td>
          <td class="pl-2 uppercase border-r border-wetsand-3 00">
            <%= link_to user_path(user), class: "text-white no-underline hover:underline" do %>
              <%= user.name %>
            <% end %>
          </td>
          <td class="pl-2 whitespace-no-wrap">
            <%= user.points %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Se hela listan", leaderboard_path, class: "w-full text-center mt-8 block text-sm text-white no-underline hover:underline" %>
</div>
