<div class="stories" data-controller="modal">
  <div class="w-full pb-4 mb-8 text-center border-b border-wetsand-300 text-golfsnack-500 flex">
    <h3>GOLFSNACK</h3>
    <% if @tag %>
      Visar golfsnack taggade med: <span class="font-bold text-golfsnack-400">#<%= @tag%></span>. <a href="/">Visa alla</a>
    <% end %>
    <% if @user && current_user == @user %>
      <%= link_to "Nytt golfsnack", "#", class: "ml-auto btn", "data-action": "click->modal#open" %>
    <% end %>
  </div>
  <% @posts.each do |post| %>
    <article id="post_<%=post.id%>" class="story rounded-2xl shadow-2xl">
      <div role="presentation">

        <div class="story__top">
          <div class="story__avatar">
            <%= render 'shared/avatar', user: post.user %>
          </div>
          <div class="story__meta">
            <div>
              <%= link_to post.user.name, post.user, "data-turbo-frame": "_top" %>
              <% if post.club.present? %>
                @ <%= link_to post.club.name, post.club, "data-turbo-frame": "_top" %>
              <% end %>
            </div>
            <%= render 'shared/tags', tags: post.tags %>
          </div>
          <div class="ml-auto story__meta">
            <%= render 'shared/created_at', activity: post %>
          </div>
        </div>
        <div class="story__body">
          <%= link_to post_path(post), "data-turbo-frame": "post-show" do %>
            <h4 class="font-semibold mb-2 text-golfsnack-600"><%= post.title %></h4>
            <% if post.youtube_url %>
              <iframe width="100%" height="400" src="<%= post.youtube_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <% elsif post.mainimage.attached? %>
              <%= image_tag post.mainimage, class: "object-cover w-full mb-4" %>
            <% end %>
          <% end %>
            <div class="story__body__body">
              <%= simple_format(post.body.to_plain_text.truncate(400)) %>
            </div>
        </div>
        <div class="story__footer">
          <div class="story__reaction">
            <%= render 'shared/reactions', item: post %>
          </div>
          <div class="story__reaction">
            <%= link_to post_path(post), class: "btn", "data-turbo-frame": "post-show" do %>
              <svg viewBox="0 0 95 78" xmlns="http://www.w3.org/2000/svg">
                <path d="M29.58 0c1.53.064 2.88 1.47 2.879 3v11.31c19.841.769 34.384 8.902 41.247 20.464 7.212 12.15 5.505 27.83-6.384 40.273-.987 1.088-2.82 1.274-4.005.405-1.186-.868-1.559-2.67-.814-3.936 4.986-9.075 2.985-18.092-3.13-24.214-5.775-5.78-15.377-8.782-26.914-5.53V53.99c-.01 1.167-.769 2.294-1.848 2.744-1.08.45-2.416.195-3.253-.62L.85 30.119c-1.146-1.124-1.131-3.205.032-4.312L27.389.812c.703-.579 1.49-.703 2.19-.812zm-3.13 9.935L7.297 27.994l19.153 18.84v-7.342c-.002-1.244.856-2.442 2.034-2.844 14.307-4.882 27.323-1.394 35.145 6.437 3.985 3.989 6.581 9.143 7.355 14.715 2.14-6.959 1.157-13.902-2.441-19.964-5.89-9.92-19.251-17.684-39.089-17.684-1.573 0-3.004-1.429-3.004-3V9.936z" fill-rule="nonzero" />
              </svg>
              <span><%= pluralize(post.comments_count, "kommentar", locale: :sv) %></span>
            <% end %>
          </div>
        </div>
      </div>
    </article>
  <% end %>
  <% if @user && current_user == @user %>
    <div id="new-post-modal" data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center w-90 h-90" style="z-index: 9999;">
      <div class="modal-container bg-white mx-auto rounded shadow-lg z-50 overflow-y-auto p-12 relative max-w-screen-xl m-12 h-4/6">
        <button data-action="click->modal#close" class="absolute top-2 right-2">
          <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
          </svg>
        </button>
        <%= turbo_frame_tag "post_form", src: new_post_path, target: "_top" %>
      </div>
    </div>
  <% end %>
</div>


