<div class="p-4 bg-white border rounded border-wetsand-300">
  <div class="flex items-center justify-center">
    <%= link_to user do %>
      <% if user.avatar.attached? %>
        <%= image_tag user.avatar, class: 'avatar' %>
      <% else %>
        <%= image_tag "fallback/avatar-thumb-default.png", class: 'avatar' %>
      <% end %>
    <% end %>
  </div>
  <!--<% if user.highest_role %>
    <%= image_tag "roleicons/#{user.highest_role.name}.png", width: "24px", height: "32px", class: "float-left", style: "height: 32px;", title: @user.highest_role.name %>
  <% end %>-->
  <div class="flex flex-col items-center justify-center">
    <%= link_to user, class: "no-underline hover:underline uppercase text-wetsand-800" do %>
      <h3 class="mt-4"><%= user.first_name %> <%= user.last_name %></h3>
    <% end %>
    <% if user.club %>
      <h4 class="mt-2 font-normal uppercase text-fairway-600"><%= user.club.name %></h4>
    <% end %>
    <div class="flex justify-around w-full my-6 border-t divide-y border-wetsand-400">
      <div class="flex flex-col">
        <div class="pr-2 my-2 text-sm text-gray-500 uppercase border-r border-gray-500">
          <span>Följare</span>
        </div>
        <h5 class="w-full font-mono text-xl text-center text-gray-700"><%= user.followers.size %></h5>
      </div>
      <div class="flex flex-col">
        <div class="pr-2 my-2 text-sm text-gray-500 uppercase border-r border-gray-500">
          <span>Följer</span>
        </div>
        <h5 class="w-full font-mono text-xl text-center text-gray-700"><%= user.follows.size %></h5>
      </div>
      <div class="flex flex-col">
        <div class="my-2 text-sm text-gray-500 uppercase">
          <span>Rundor</span>
        </div>
        <h5 class="w-full font-mono text-xl text-center text-gray-700">0</h5>
      </div>
    </div>
  </div>
</div>
