<%= render partial: 'articles' %>
<div class="pt-6">
  <div class="grid grid-cols-12 gap-6">
    <div class="hidden col-span-4 md:block xl:col-span-3">
      <div class="sticky top-10">
        <%= render partial: 'user_sidebar', locals: { user: @user } %>
        <%= render partial: 'popular_tags', locals: { tags: @popular_tags } %>
      </div>
    </div>
    <div class="col-span-12 md:col-span-8 xl:col-span-6">
      <%= render partial: 'posts' %>
    </div>
    <div class="hidden xl:block xl:col-span-3">
      <%#= render partial: 'who_to_follow' %>
      <%= render partial: 'leaderboard', locals: { users: @leaderboard_users } %>
      <%= render partial: 'polls' %>
      <a href="https://www.parmagazine.se">
        <%= image_tag "160267295_428267185132600_181985594661277728_n.gif" %>
      </a>
    </div>
  </div>
</div>
