<div class="relative mr-4">
  <div>
    <button
      class="flex text-sm transition duration-150 ease-in-out focus:outline-none" id="user-menu" aria-label="User menu" aria-haspopup="true" data-action="click->navbar#toggleProfileMenu">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, class: "object-cover w-8 h-8 mini-avatar border border-fairway-600"  %>
      <% else %>
        <%= image_tag "fallback/avatar-thumb-default.png", class: 'mini-avatar object-cover w-8 h-8 border border-fairway-600' %>
      <% end %>
    </button>
  </div>
  <div class="absolute right-0 z-50 hidden w-48 mt-2 origin-top-right shadow-lg transition ease-out duration-100" data-navbar-target="profileMenu">
    <div class="py-1 bg-white shadow-xs text-left" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
      <%= active_link_to "Profil", profile_path, class: 'profilelink', role: "menuitem", active: :exact %>
      <%= active_link_to "Följare", friends_path, class: 'profilelink', role: "menuitem" %>
      <%= active_link_to "Dina Golfsnack", blog_path, class: 'profilelink', role: "menuitem" %>
      <%= link_to "Logga ut", destroy_user_session_path, role: "menuitem", method: :delete, class: "profilelink" %>
      <% if current_user.has_role?(:admin) %>
        <strong class="block w-full pl-4 my-2 border-b border-golfsnack-100">ADMIN</strong>
        <%= active_link_to "Inbjudningar", admin_root_path, class: 'profilelink', role: "menuitem" %>
        <%= active_link_to "Artiklar", admin_articles_path, class: 'profilelink', role: "menuitem" %>
        <%= active_link_to "Omröstningar", admin_polls_path, class: 'profilelink', role: "menuitem" %>
      <% end %>
    </div>
  </div>
</div>
