<div class="my-6">
  <%= link_to "↤ Tillbaka", :back %>
</div>
<div class="p-6 my-6 bg-white">
  <div class="mt-12">
    <div class="my-6">
      <p class="text-sm font-medium leading-5 text-golfsnack-900">
        Skrivet av:  <%= link_to @post.user.name, user_path(@post.user), class: "hover:underline" %>
      </p>
    </div>
    <% if is_current_user? @post.user %>
      <%= link_to "Redigera golfsnack", edit_post_path(@post) %>
      <br />
      <%= link_to "Radera golfsnack", post_path(@post), method: :delete, data: { confirm: "Säker?" } %>
    <% end %>
  </div>
  <h1 class="py-6 text-2xl font-extrabold leading-snug text-golfsnack-800">
    <%=@post.title%>
  </h1>
  <p class="py-4"><%= @post.preamble %></p>
  <%= @post.body %>
  <div class="p-12">
    <% if current_user.liked? @post %>
      <%= form_tag unlike_path(likeable_type: @post.class.to_s, likeable_id: @post.id), method: :post do %>
        <% button_tag class: 'btn btn-block liked' do %>
          Sluta gilla
        <% end %>
      <% end %>
    <% else %>
      <%= form_tag like_path(likeable_type: @post.class.to_s, likeable_id: @post.id) do %>
        <% button_tag class: 'btn btn-block' do %>
          Gilla
        <% end %>
      <% end %>
    <% end %>
  </div>
  <h4>Comments</h4>
  <hr>
  <div class="comments">
    <%= render(@comments) %>
  </div>
  <%= render 'comments/form', commentable: @post %>
</div>
