<% if activity_resources_exist?(activity) %>
  <div id="activity-<%= activity.id %>" class="activity">
    <div class="activity-comment">
      <div class="flex">
        <%= render 'shared/avatar', user: activity.owner %>
      </div>
      <%= link_to activity.owner.first_name, profile_path(activity.owner) %>
      <span class="text-golfsnack-400">kommenterade på ett inlägg: </span><%= link_to activity.trackable.commentable.title, activity.trackable.commentable %>
    </div>
    <span class="text-xs text-golfsnack-400"><%= render 'shared/created_at', activity: activity %></span>
  </div>
<% end %>
