<ul>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<%= form_for [:admin, @user] do |f| %>
  <%= f.label :roles %>
  <% @roles.each do |role| %>
    <%= f.check_box :input_roles, {checked: @user.has_role?(role), multiple: true}, role, nil %>
    <%= role %>
  <% end %>
  <div class="actions mt-12">
    <%= f.submit 'Spara användare' %>
  </div>
<% end %>
