<header class="h-16" id="header" x-data="{ mobileMenuOpen: false, profileMenuOpen: false }">
  <nav class="bg-golfsnack-500">
    <div class="px-2 mx-auto sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button
          @click="mobileMenuOpen = !mobileMenuOpen"
          class="inline-flex items-center justify-center p-2 transition duration-150 ease-in-out text-sand-100 hover:text-sand-600 hover:bg-sand-700 focus:outline-none focus:bg-sand-700 focus:text-white" aria-label="Main menu" aria-expanded="false">
            <svg
          :class="{'block': !mobileMenuOpen, 'hidden': mobileMenuOpen }"
          class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <svg
          :class="{'block': mobileMenuOpen, 'hidden': !mobileMenuOpen }"
          class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-start">
          <div class="flex-shrink-0">
            <a href="/">
              <%= image_tag 'Golfsnack_Centrerad_VIT.png', alt: "Golfsnack", class: "block h-10 w-auto" %>
            </a>
          </div>
          <% if current_user %>
            <div class="hidden sm:block sm:ml-6">
              <div class="flex desktoplinks">
                <%= render partial: 'header/mainlinks', locals: {class_name: 'navlink' }%>
              </div>
            </div>
          <% end %>
        </div>
        <% if current_user %>
          <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
            <!-- Profile dropdown -->
            <%= link_to "Forum", "http://forum.golfsnack.se", class: 'navlink', target: '_blank' %>
            <%= render partial: 'header/profile_dropdown'%>
          </div>
        </div>
      </div>
      <div :class="{'block': mobileMenuOpen, 'hidden': !mobileMenuOpen }" class="sm:hidden w-screen">
        <div class="px-2 pt-2 pb-3 absolute z-50 bg-golfsnack-500 block w-screen">
          <%= render partial: 'header/mainlinks', locals: {class_name: 'mobilenavlink' }%>
          <hr />
          <%= link_to "Forum", "http://forum.golfsnack.se", class: 'mobilenavlink', target: '_blank' %>
        </div>
      </div>
    <% end %>
  </nav>
</header>
