<div class="">
  <% if @user.cover.attached? %>
    <%= image_tag @user.cover.variant(resize_to_fill: [1280, 420], gravity: 'center'), class: "object-cover w-full mb-6" %>
  <% else %>
    <div class="block w-full bg-wetsand-300" style="height: 420px;"></div>
  <% end %>
  <div class="flex flex-col items-center justify-center w-full -mt-24">
    <div class="relative">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar.variant(resize_to_fill: [200, 180], gravity: 'center'), class: 'big-avatar' %>
      <% else %>
        <%= image_tag "fallback/avatar-thumb-default.png", class: 'big-avatar' %>
      <% end %>
      <% if @user.highest_role %>
        <%= image_tag "roleicons/#{@user.highest_role.name}.png", width: "18px", height: "24px", class: "absolute -top-2 -left-2", style: "height: 40px; width: 32px;", title: @user.highest_role.name %>
      <% end %>
    </div>
    <h2 class="mt-4 uppercase text-golfsnack-500"><%= @user.name %></h2>
    <% if @user.club %>
      <h4 class="mt-2 uppercase text-golfsnack-400"><%= @user.club.name %></h2>
    <% end %>
    <div class="my-4">
      <% if is_current_user? @user %>
        <a href="/users/edit" type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium leading-5 transition duration-150 ease-in-out bg-white border text-sand-700 border-sand-300 hover:text-sand-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-sand-800 active:bg-sand-50">
          <!-- Heroicon name: pencil -->
          <svg class="w-5 h-5 mr-2 -ml-1 text-sand-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
          </svg>
          Redigera
        </a>
      <% else %>
        <button type="button" class="inline-flex items-center w-full px-4 py-2 text-sm font-medium leading-5 text-center transition duration-150 ease-in-out bg-white border hover:bg-yellow-50 text-sand-700 border-sand-300 hover:text-sand-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-sand-800 active:bg-sand-50">
          <!-- Heroicon name: link -->
          <svg class="w-5 h-5 mr-2 -ml-1 text-sand-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd" />
          </svg>
          <%= render partial: 'follows/form' %>
        </button>
      <% end %>
    </div>
    <div class="flex flex-col items-center justify-between w-full p-4 my-12 text-white uppercase bg-wetsand-600 md:flex-row">
      <div>
        <span class="px-2 border-r border-white">
          <small class="font-light">följare</small> <strong class="text-lg font-bold"><%= @user.followers.size %></strong>
        </span>
        <span class="px-2 border-r border-white">
          <small class="font-light">golfsnack</small> <strong class="text-lg font-bold"><%= @user.points%></strong>
        </span>
        <span class="px-2 ">
          <small class="font-light">antal rundor</small>
          <strong class="text-lg font-bold">0</strong>
        </span>
      </div>
      <div>
        <span class="px-2 border-r border-white">
          <small class="font-light">Medlem sedan</small> <strong class="text-lg font-bold"><%= l(@user.created_at, format: "%b %Y") %></strong>
        </span>
        <span class="px-2">
          <small class="font-light">golf-id</small> <strong class="text-lg font-bold"><%= @user.golf_id %></strong>
        </span>
      </div>
    </div>
  </div>
  <div class="gap-6 sm:grid sm:grid-cols-6">
    <div class="sm:col-span-4">
      <%= render partial: '/home/posts' %>
    </div>
    <div class="sm:col-span-2">
      <p class="pb-12"><%= @user.info%></p>
      <h4 class="text-golfsnack-300">BADGES</h4>
      <% @user.badges.each do |badge| %>
        <div class="flex px-2 py-1 mt-2 mr-1 text-sm font-semibold leading-5 uppercase rounded text-sand-100 bg-rough-500 last:mr-0 sm:mr-6">
          <%= badge.name %>
        </div>
      <% end %>
      <h4 class="mt-6 text-golfsnack-300">SENAST SPELADE BANOR</h4>
      <h4 class="mt-6 text-golfsnack-300">LISTA VAR ANVÄNDAREN FÅTT SINA POÄNG IFRÅN</h4>
    </div>
  </div>
</div>
