<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Golfsnack.se - Av golfare för golfare</title>
    <link rel="icon" href="/favicon.ico" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render partial: 'header', locals: {pages: %i(Nyheter Bloggar Leaderboard Klubbar)} %>
    <% if current_user %>
      <%= render partial: 'feed' %>
      <%#= render partial: 'subheader' %>
    <% end %>
    <%= render partial: 'flashes'%>
    <%= yield %>
    <%= render partial: "footer" %>
  </body>
</html>
