<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind" %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "turbo", type: "module" %>
    <%= stimulus_include_tags %>
    <%= javascript_include_tag "application" %>
    <%= render partial: 'og' %>
    <%= yield :head %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TYCH123NZT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TYCH123NZT');
    </script>
  </head>
  <body class="<%= @home%>">
    <%= render partial: 'header' %>
    <div class="container main">
      <% if current_user && !current_user.completed_profile?%>
        <%= render partial: 'need_to_complete_profile' %>
      <% end %>
      <% unless current_user %>
        <%= render partial: 'become_member' %>
      <% end %>
      <%= yield %>
    </div>
    <%= render partial: "footer" %>
    <div id="fb-root" data-turbo-permanent></div>
    <script>
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
