<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Golfsnack.se - Av golfare för golfare</title>
    <link rel="icon" href="/favicon.ico" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render partial: 'og' %>
  </head>
  <body class="bg-fairway-100">
    <%= render partial: 'header' %>
    <div class="max-w-screen-xl mx-auto">
      <%= render partial: 'flashes'%>
      <%= yield %>
    </div>
    <%= render partial: "footer" %>
  </body>
</html>
