<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Golfsnack.se - Av golfare för golfare</title>
    <link rel="icon" href="/favicon.ico" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="private">
    <div class="h-screen bg-opacity-75 bg-golfsnack-500">
      <div class="pt-12">
        <div class="flex flex-col justify-center w-full text-center">
          <%= image_tag 'Golfsnack_Centrerad_VIT.png', alt: "Golfsnack", class: "self-center w-40 h-auto" %>
          <h2 class="mt-2 text-xs text-white">AV GOLFARE. FÖR GOLFARE</h2>
        </div>
        <%= render partial: 'flashes'%>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= yield %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </body>
</html>
